version: "3.7"

services:
  frontend:
    build: ./frontend
    image: sample-frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build: ./backend
    image: sample-backend
    ports:
      - "5000:5000"
    environment:
      MONGO_URL: mongodb://mongodb:27017/appdb
    depends_on:
      - mongodb
    networks:
      - app-network

  mongodb:
    image: mongo:6
    container_name: mongodb
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo_data:

